[submodule "extensions/MobileFrontend"]
	path = extensions/MobileFrontend
	url = git@bitbucket.org:FuerthWiki/mobilefrontend.git
[submodule "extensions/MobileSpecialPages"]
	path = extensions/MobileSpecialPages
	url = git@github.com:mojoaxel/MobileSpecialPages.git
[submodule "extensions/ProgressiveWebApp"]
	path = extensions/ProgressiveWebApp
	url = git@github.com:mojoaxel/ProgressiveWebApp.git
