[submodule "extensions/MobileFrontend"]
	path = extensions/MobileFrontend
	url = git@github.com:fuerthwiki/MobileFrontend.git
[submodule "extensions/MobileSpecialPages"]
	path = extensions/MobileSpecialPages
	url = git@github.com:fuerthwiki/MobileSpecialPages.git
[submodule "extensions/ProgressiveWebApp"]
	path = extensions/ProgressiveWebApp
	url = git@github.com:fuerthwiki/ProgressiveWebApp.git
[submodule "extensions/WhatsNearby"]
	path = extensions/WhatsNearby
	url = git@github.com:fuerthwiki/WhatsNearby.git
[submodule "extensions/MobileTabsPlugin"]
	path = extensions/MobileTabsPlugin
	url = git@github.com:fuerthwiki/MobileTabsPlugin.git
