<IfModule mod_mime.c>
	<Files "manifest.json">
		AddType application/manifest+json               json
  </Files>
</IfModule>

RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=302,NE,L]
